name: Lint, format and test code
on:
  workflow_dispatch:
  pull_request:
    paths:
      - src/**
      - .github/workflows/ci_code.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: "3.14"

      - name: Install dev dependencies
        working-directory: ./src
        run: make install-dev

      - name: Install dependencies
        working-directory: ./src
        run: make install

      - name: Lint
        working-directory: ./src
        run: make lint-ci

      - name: Format
        working-directory: ./src
        run: make fmt-ci

      - name: Test
        working-directory: ./src
        run: make test
